# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Application
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Blockchain Configuration
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_RPC_URL=http://localhost:8545
NEXT_PUBLIC_DIAMOND_PROXY_ADDRESS=0x5FbDB2315678afecb367f032d93F642f64180aa3
PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# IPFS Configuration (will be added in Task 5)  
# NEXT_PUBLIC_IPFS_GATEWAY=https://gateway.pinata.cloud/ipfs/
# PINATA_API_KEY=your_pinata_api_key
# PINATA_SECRET_API_KEY=your_pinata_secret_key

# Web3Auth Configuration
NEXT_PUBLIC_WEB3AUTH_CLIENT_ID=BBbeBRdASEeCokoSwC5pr3hfLnZ9Ah_DdQVT1D2jduJTgQMRn_wRp0HPuRhwcZpAHPQuT7JcVKmHTjkC_7HRX4E